<h1> 
	<a href ="<%= root_path %>">
		Welcome to Retflix!
	</a>
</h1>

<a href = "<%= new_movie_path %>">+Add a Movie</a>

<%= form_tag "/", :method => :get do %>
<%= text_field_tag :q, params[:q] %>
<%= submit_tag "Find Movies" %>
<% end %>

<ul>
	<% @movies.each do |movie| %>
	<li>
		<h2> 
			<a href="<%= movie_path(movie) %>">
				<%= movie.title %> 
			</a> 
		</h2>
		<p>
			<a href="<%= movie_path(movie) %>">
				<%= movie.description %>
			</a>
		</p>
		<p>
			<a href="<%= movie_path(movie) %>">
				<%= movie.year_released %>
			</a>
		</p>
	</li>
<%end%>
</ul>