<h1> <%= @movie.title %> </h1>
<p> <%= @movie.description %> </p>
<p> <%= @movie.year_released %> </p>

<a href="<%= edit_movie_path( @movie ) %>">Edit movie </a>
<%= button_to "Delete movie", movie_path(@movie), :method => :delete %>

